
@{
    ViewBag.Title = "Erreur 404";
}

<div>
    <h1>Erreur 404</h1>
    <p>
        La page est inaccessible ou n'existe pas sur ce site. <br />
        <a href="Index">Retour à l'accueil</a>
    </p>
</div>
