@model IEnumerable<WebAppInternet.Models.Voyages>


@{
    ViewBag.Title = "Accueil";
}

<div>
    <!-- Convenir ensemble d'une image définitive (cf banques d'images)-->
    <a href="Voyages/Index"><img src="~/Content/Pictures/avion.jpg" alt="Ciel vu depuis un avion BoVoyage" class="bigImage" /></a>

    <p>
        <!-- ajouter ici un texte d'introduction -->
        Bienvenue chez BoVoyage.
    </p>

</div>
